<h1>New game</h1>
<ul>
  <% @grid_options.each do |option| %>
    <li> <%= option %> </li>
  <% end %>
</ul>


<form action="/score" method="POST">
  <label>What's the longest word you can find?</label>
  <br>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="options" value="<%= @grid_options %>">
  <input type="hidden" name="start_time" value="<%= @start_time %>">
  <input type="text"   id="word" name="word" value="" required>
  <input type="submit" id="submitWord" value="Play">
</form>